<ul class="flags-list">
        <!-- <li ng-repeat="vxlg in flag.vxlgs | filter:$ctrl.query | orderBy:'name'" ng-if="$ctrl.query.name"> -->
        <li ng-repeat="vxlg in flag.vxlgs | filter:$ctrl.query | orderBy:['parent','name']" ng-if="$ctrl.query.name">
            <p class="flag-name"><a id="flag-link" href="" ng-click="showDetails=!showDetails">{{ vxlg.nameAccented }} <span ng-if="vxlg.parent" class="parent">{{ vxlg.parent }}</span></a></p>
            <div class="flag-view" ng-show="showDetails">
                <div class="image">
                    <img ng-if="vxlg.flag" ng-src="{{ vxlg.flag }}">
                    <img ng-if="vxlg.coa" ng-src="{{ vxlg.coa }}" class="coa">
                </div>
                <p id="territory-type" class="meta"><b>Type:</b> {{ vxlg.divisionType }}</p>
            </div>
        </li>
    
</ul>
